<%= form_for @article  do |f| %>
  <div class="control-group">
  	 <%=  f.lable :title %>
  	 <div class="controls">
  	 	<%= f.text_fieeld :title %>
  	 	</div>

  	 </div>

  	 <div class = "control-group">
  	 	 <%= f.label :content %>
  	 	  <div class= "controls">
                   <%= t.text_area :ocntent, rows: "20", cols: "100" %>
               
               </div>
           </div>
      


<div class="category-control">
	<%=  f.label 'File under at least one categor' %>
	<% categort.all.order (name :asc).each do |category| %>

	<div>
		<%= check_box_tag "article [category_ids][]",categort.id %>
		<%= category.name %>

    <div>

    	<% end %>
        
   </div>
    	
